.MMM-Starlight {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.MMM-Starlight .starlight-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    color: #cccccc;
    text-decoration: underline;
}

.MMM-Starlight .starlight-image-container {
    text-align: center;
    margin-bottom: 10px;
}

.MMM-Starlight .starlight-image-container img {
    max-width: 60px;
    height: auto;
}

.MMM-Starlight .starlight-slide-container {
    display: flex;
    width: 200%;
    transition: transform 1s ease-in-out;
}

.MMM-Starlight .starlight-text-content {
    width: 50%;
    flex-shrink: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.MMM-Starlight .starlight-text-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.MMM-Starlight .starlight-text {
    font-size: 0.9em;
    text-align: justify;
    position: relative;
    line-height: 1.4;
    color: white;
}

.MMM-Starlight.starlight-error {
    color: #ff4444;
    font-weight: bold;
}

/* Ensure no text overflow */
.MMM-Starlight * {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

/* Ensure proper spacing between elements */
.MMM-Starlight > * + * {
    margin-top: 10px;
}

/* Styles for vertical scrolling */
.MMM-Starlight .starlight-text.scrolling {
    transition: transform linear;
}

/* Media query for smaller screens */
@media screen and (max-width: 480px) {
    .MMM-Starlight .starlight-title {
        font-size: 1.1em;
    }

    .MMM-Starlight .starlight-text {
        font-size: 0.8em;
    }
}

/* Styles for the sliding effect */
.MMM-Starlight .starlight-text-content.current {
    transform: translateX(0);
}

.MMM-Starlight .starlight-text-content.next {
    transform: translateX(0);
}

.MMM-Starlight.sliding .starlight-slide-container {
    transform: translateX(-50%);
}
