.MMM-Starlight {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.MMM-Starlight .starlight-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    color: #cccccc; /* Light grey color for the title */
}

.MMM-Starlight .starlight-static-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.MMM-Starlight .starlight-image-wrapper {
    text-align: center;
}

.MMM-Starlight .starlight-image-wrapper img {
    max-width: 60px; /* Adjust as needed */
    height: auto;
}

.MMM-Starlight .starlight-slide-container {
    display: flex;
    width: 200%;
    transition: transform 1s ease-in-out;
}

.MMM-Starlight .starlight-slide-wrapper {
    width: 50%;
    flex-shrink: 0;
}

.MMM-Starlight .starlight-content-wrapper {
    padding: 0 10px;
    box-sizing: border-box;
}

.MMM-Starlight .starlight-text-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.MMM-Starlight .starlight-text {
    font-size: 0.9em;
    text-align: justify;
    position: relative;
    line-height: 1.4;
    color: white;
    z-index: 10;
}

.MMM-Starlight.starlight-error {
    color: #ff4444;
    font-weight: bold;
}

/* Ensure no text overflow */
.MMM-Starlight * {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

/* Ensure proper spacing between elements */
.MMM-Starlight > * + * {
    margin-top: 10px;
}

/* Styles for vertical scrolling */
.MMM-Starlight .starlight-text.scrolling {
    transition: transform linear;
}

/* Media query for smaller screens */
@media screen and (max-width: 480px) {
    .MMM-Starlight .starlight-title {
        font-size: 1.1em;
    }

    .MMM-Starlight .starlight-text {
        font-size: 0.8em;
    }
}

/* Transition for sliding effect */
.MMM-Starlight .starlight-slide-container {
    transition: transform 1s ease-in-out;
}

/* Styles for next slide (initially hidden) */
.MMM-Starlight .starlight-slide-wrapper.next {
    transform: translateX(100%);
}

/* Styles for current slide */
.MMM-Starlight .starlight-slide-wrapper.current {
    transform: translateX(0);
}

/* Styles for sliding animation */
.MMM-Starlight.sliding .starlight-slide-container {
    transform: translateX(-50%);
}

/* Ensure image wrapper for next sign is initially hidden */
.MMM-Starlight .starlight-image-wrapper.next {
    display: none;
}

/* Show next image wrapper during sign transition */
.MMM-Starlight.sliding .starlight-image-wrapper.current {
    display: none;
}

.MMM-Starlight.sliding .starlight-image-wrapper.next {
    display: block;
}
